<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Web Guesser</title>
  </head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>
    Your guess was <%= guess %>. <%= message %>
    </p>
    <% if guess == number %>
      <p>
        The SECRET NUMBER is <%= number %>.
      </p>
    <% end %>
  </body>
</html>

